<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integrando o HTML ao Flask</title>
</head>

<body>

  <ol>
    {% for fruta in frutas %}
    <li>{{fruta}}</h1>
      {% endfor %}
  </ol>

  <ol>
    {% for chave, valor in alunos.items() %}
    <li>{{chave}}: {{valor}}</h1>
      {% endfor %}
  </ol>

    {% for chave, valor in alunos.items() %}
      <details>
        <summary>{{chave}}</summary>
        <p>{{valor}}</p>
      </details>
    {% endfor %}


</body>

</html>